@font-face {
    font-family: "icones";
    src: url(../fonts/font/icones.ttf);
}

header {
    display: flex;
    position: fixed;
    top: 0;
    background-color: var(--branco);
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    width: 100vw;
    font-family: var(--font1);
    z-index: 999;
}

.cabecalho-principal {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}
/* ------------------------- logo ------------------------- */
.logo {
    width: 5vw;
    border-radius: 100%;
}

/* ------------------------- nav ------------------------- */
nav {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: var(--preto);
}
nav > a {
    text-decoration: none;
    color: var(--preto);
    font-weight: bolder;
}

nav> a:hover{
   text-decoration: underline var(--laranja);
} 

.icone-pesquisa {
    width: 30px;
}

.icone-pesquisa:hover {
    cursor: pointer;
}
/* ------------------------- botoes ------------------------- */
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cabecalho-botao1 {
    padding: 10px 12px 10px;
    background-color: var(--laranja);
    color: var(--branco);
    font-size: 1.3rem;
    border: none;
    border-radius: 10px;
}

.cabecalho-botao1:hover {
    cursor: pointer;
}

.cabecalho-botao2 {
    padding: 10px 12px 10px;
    background-color: var(--branco);
    color: var(--laranja);
    font-size: 1.3rem;
    border-color: var(--laranja);
    border-radius: 10px;
}

.cabecalho-botao2:hover {
    cursor: pointer;
}
/* ========================= RESPONSIVIDADE ========================= */

@media screen and (max-width:980px) {
    header{
        
        justify-content: space-around;
        /* align-items: center; */
        border-bottom: 1px solid rgb(248, 240, 240);
       
    }
    
    .cabecalho-principal{
        display: none;
    }

   .logo{
    width: 50px;
   }

    .icone-pesquisa{
        display: none;
    } 

    .cabecalho-botao1{
        padding: 10px 10px 10px;
        font-size: 0.9rem;
    }

    .cabecalho-botao2{
        padding: 10px 10px 10px;
        font-size: 0.9rem;
    }

    .cabecalho-mobile >img{
        width: 40px;
    }

}

@media screen and (min-width:980px){
    .cabecalho-mobile{
        display: none;
    }

}