/* ========================= HEADER ========================= */
@font-face {
    font-family: 'icones';
    src: url(../fonts/beach-resort/icones.ttf);
}


header{
    display: flex;
    position: sticky;
    background-color: var(--branco);
    gap: 20px;
    align-items: center;
    justify-content: space-evenly;
    height: 85px;
    width: 100%;
    /* margin: 0 23px;
    padding: 20px 12px;  */
    font-family: var(--font1);
}

.cabecalho-principal{
   display: flex;
   align-items: center;
   padding: 0 20px; 
   gap: 15px;
}
/* ------------------------- logo ------------------------- */
.logo{
    width: 60px;
    border-radius: 100%;
    
}

/* ------------------------- nav ------------------------- */
nav{
    display: flex;
    gap: 10px;
    font-size: 16px;
    color: var( --preto);

}
nav> a{
    text-decoration: none;
    color: var(--preto);
    font-weight: bolder;
}

/* nav> a:hover{
   
} */

.icone-pesquisa{
    width: 30px;
}

.icone-pesquisa:hover{
    cursor: pointer;
}
/* ------------------------- botoes ------------------------- */
.botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.cabecalho-botao1{
    padding: 10px 12px 10px;
    background-color: var(--laranja);
    color: var(--branco) ;
    font-size: 14px;
    border: none;
    border-radius: 10px;
}

.cabecalho-botao1:hover{
    cursor: pointer;
    
    
}

.cabecalho-botao2{
    padding: 10px 12px 10px;
    background-color: var(--branco);
    color: var(--laranja) ;
    font-size: 14px;
    border-color: var(--laranja);
    border-radius: 10px;
    
}


.cabecalho-botao2:hover{
    cursor: pointer;
    
    
}
/* ========================= RESPONSIVIDADE ========================= */

@media screen and (max-width:390px) {
    header{
        display: none;
    }

}



@media screen and (min-width:391px){
    .cabecalho{
        display: none;
    }
}