main {
    margin-top: 126px;
}

main .titulo {
    font-size: 48px;
    font-family: var(--font2);
    font-weight: normal;
    width: 660px;
}

main .texto-laranja {
    font-weight: bold;
}

main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .imagem-main {
    width: 536px;
}

main .botao {
    margin-top: 40px;
    max-width: 464px;
}

main .botao:hover {
    color: var(--cinza-claro);
    background-color: var(--laranja-claro);
}

/* ========================= RESPONSIVIDADE ========================= */
@media (max-width: 990px) {
    main .titulo {
        width: 336px;
    }

    main .botao {
        margin-top: 40px;
        max-width: 216px;
    }
}
