/* ========================= SECTION 2 ========================= */
#passaporte {
    background-image: url(../img/imagem-secao2.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto; 
    height: 700px;
    width: 1280px;
}

#passaporte > h1 {
    color: var(--laranja);
    Font-size: 800%;
    margin-bottom: 5%;

}

#passaporte > span {
    color: white;
    Font-size: 400%;
    margin-bottom: 5%;

}

#passaporte > a#button {
    max-height: 10px;
    max-width: 300px;
}

/* ========================= SECTION 4 ========================= */
section#conta {
    background-color: var(--laranja);
    display: flex;
    align-items: center;
    height: 510px;
    width: 1280px;
    margin: 5% auto; 
    font-family: var(--font2);


}
#conta > .texto {
    margin: 0 auto;

}

.texto > h1 {
    Font-size: 400%;
    margin-bottom: 5%;
}

.texto > span {
    font-size: 150%;
}

#conta > img {
    margin: 0 0 0 auto;
}
/* ========================= SECTION 6 ========================= */

/* ========================= SECTION 8 ========================= */

/* ========================= SECTION 10 ========================= */

/* ========================= RESPONSIVIDADE ========================= */
